.bombilla{
    border-radius: 60px;
    width: 100px;
    height: 100px;
    border: solid 5px rgb(0, 0, 0);
    position: relative;
    left: 18px;
    float: left;
    margin-top: 5px;
}
.cuerpo{
    border-radius: 10px;
    width: 150px;
    height: 400px;
    border: solid 5px rgb(0, 0, 0);
    position: relative;
    margin-top: 5px;
}            
.colorRojo{
    background-color: rgb(255, 0, 0);
}
.colorAmarillo{
    background-color: rgb(255, 255, 0);
}
.colorVerde{
    background-color: rgb(0, 255, 0);
}
.colorNegro{
    background-color: rgb(0, 0, 0);
}